#indexC{
    background-image: url("../img/indexContainerBG.jpg");
    background-color:aliceblue;
    background-position: center; 
    background-repeat: no-repeat;　　//背景不重複 
    background-attachment: fixed; 　　//背景固定  
    color: #F2F6FF;
}
body {
  padding-bottom: 2rem;
   background-image: url("../img/background-gray.jpg");   
}
.container
{
	 background-image: url("../img/background-gray.jpg");   
}
.bgIMG
{
    max-width: 100%;
    height:auto;
}
#intro
{
    padding:10px;
     
}
li#intro:before
{
    
   content:".";
}
#hideZone01
{
    display:none;
}
#hideZone02
{
    display:none;
}
#hideZone03
{
    display:none;
}